<header>
  <div class="header-logo">
    <a href="/">SocialApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About Us</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>About SocialApp</h2>
  <p>
    SocialApp is a social networking service.
  </p>
</div>