<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About Us</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Lets connect to the world.</h2>
    <p>Share your favorite posts!</p>
  </div>
</div>